GAE/Google App Engine Tutorial/CodeLabEx5Server-starter/war/EntityAPIService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://server.soap.codelab.appengine.google.com/" name="EntityAPIService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://server.soap.codelab.appengine.google.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://server.soap.codelab.appengine.google.com/" schemaLocation="EntityAPIService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="createOrUpdateProduct">
    <part name="parameters" element="tns:createOrUpdateProduct"/>
  </message>
  <message name="createOrUpdateProductResponse">
    <part name="parameters" element="tns:createOrUpdateProductResponse"/>
  </message>
  <message name="createOrUpdateItem">
    <part name="parameters" element="tns:createOrUpdateItem"/>
  </message>
  <message name="createOrUpdateItemResponse">
    <part name="parameters" element="tns:createOrUpdateItemResponse"/>
  </message>
  <message name="deleteProduct">
    <part name="parameters" element="tns:deleteProduct"/>
  </message>
  <message name="deleteProductResponse">
    <part name="parameters" element="tns:deleteProductResponse"/>
  </message>
  <message name="deleteItem">
    <part name="parameters" element="tns:deleteItem"/>
  </message>
  <message name="deleteItemResponse">
    <part name="parameters" element="tns:deleteItemResponse"/>
  </message>
  <message name="getAllProducts">
    <part name="parameters" element="tns:getAllProducts"/>
  </message>
  <message name="getAllProductsResponse">
    <part name="parameters" element="tns:getAllProductsResponse"/>
  </message>
  <message name="getProduct">
    <part name="parameters" element="tns:getProduct"/>
  </message>
  <message name="getProductResponse">
    <part name="parameters" element="tns:getProductResponse"/>
  </message>
  <message name="getAllItems">
    <part name="parameters" element="tns:getAllItems"/>
  </message>
  <message name="getAllItemsResponse">
    <part name="parameters" element="tns:getAllItemsResponse"/>
  </message>
  <message name="getItemsForProduct">
    <part name="parameters" element="tns:getItemsForProduct"/>
  </message>
  <message name="getItemsForProductResponse">
    <part name="parameters" element="tns:getItemsForProductResponse"/>
  </message>
  <message name="getItem">
    <part name="parameters" element="tns:getItem"/>
  </message>
  <message name="getItemResponse">
    <part name="parameters" element="tns:getItemResponse"/>
  </message>
  <portType name="EntityAPI">
    <operation name="createOrUpdateProduct">
      <input message="tns:createOrUpdateProduct"/>
      <output message="tns:createOrUpdateProductResponse"/>
    </operation>
    <operation name="createOrUpdateItem">
      <input message="tns:createOrUpdateItem"/>
      <output message="tns:createOrUpdateItemResponse"/>
    </operation>
    <operation name="deleteProduct">
      <input message="tns:deleteProduct"/>
      <output message="tns:deleteProductResponse"/>
    </operation>
    <operation name="deleteItem">
      <input message="tns:deleteItem"/>
      <output message="tns:deleteItemResponse"/>
    </operation>
    <operation name="getAllProducts">
      <input message="tns:getAllProducts"/>
      <output message="tns:getAllProductsResponse"/>
    </operation>
    <operation name="getProduct">
      <input message="tns:getProduct"/>
      <output message="tns:getProductResponse"/>
    </operation>
    <operation name="getAllItems">
      <input message="tns:getAllItems"/>
      <output message="tns:getAllItemsResponse"/>
    </operation>
    <operation name="getItemsForProduct">
      <input message="tns:getItemsForProduct"/>
      <output message="tns:getItemsForProductResponse"/>
    </operation>
    <operation name="getItem">
      <input message="tns:getItem"/>
      <output message="tns:getItemResponse"/>
    </operation>
  </portType>
  <binding name="EntityAPIPortBinding" type="tns:EntityAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createOrUpdateProduct">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createOrUpdateItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteProduct">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllProducts">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getProduct">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllItems">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getItemsForProduct">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="EntityAPIService">
    <port name="EntityAPIPort" binding="tns:EntityAPIPortBinding">
      <soap:address location="http://mysoapserver.appspot.com/codelabex5part1"/>
    </port>
  </service>
</definitions>

